{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Success</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
    {% include "header/header.html" %}
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h1 class="page-title">Order Success</h1>
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li class="active">Order Success</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section padding_layout_1">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Thank you for your order!</h2>
                    <p>Your order has been placed successfully. We will contact you soon.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    {% include "footer/footer.html" %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
