{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Order Confirmation</h2>
                        <p>Thank you for your purchase! Your order has been successfully placed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
